html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Myriad Bold';
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Regular';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.container__form {
  max-width: 790px;
  margin: 0 auto;
}

.container__footer {
  max-width: 1860px;
  margin: 0 auto;
}

.header {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 11px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 11px;
}
.header-authorization {
  display: flex;
}
.header__container {
  max-width: 1860px;
  margin: 0 auto;
}

.logo {
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 48px;
  line-height: 35px;
  margin-left: 67px;
}
.logo span {
  font-family: 'Myriad Regular';
  font-weight: 400;
  font-size: 48px;
  color: #73c450;
}

.site-navigation {
  margin-right: 443px;
}
.site-navigation__list {
  display: flex;
  list-style: none;
  margin-left: 140px;
}
.site-navigation__item:nth-child(1) {
  margin-right: 68px;
  position: relative;
}
.site-navigation__item:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/message-icon.png");
  height: 31px;
  width: 35px;
  left: -44px;
  top: -6px;
}
.site-navigation__item:nth-child(2) {
  margin-right: 85px;
  position: relative;
}
.site-navigation__item:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/order-icon.png");
  width: 36px;
  height: 36px;
  left: -44px;
  top: -6px;
}
.site-navigation__item:nth-child(3) {
  position: relative;
}
.site-navigation__item:nth-child(3)::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/new-order.png");
  width: 35px;
  height: 31px;
  left: -44px;
  top: -6px;
}
.site-navigation__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.logout {
  border: none;
  text-transform: uppercase;
  color: #61ba6d;
  font-size: 18px;
  font-family: 'Myriad Bold';
  font-weight: bold;
  margin-right: 50px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  outline: none;
}
.logout::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/logout-icon.png");
  width: 35px;
  height: 35px;
  left: -44px;
  top: 17px;
}

.specialist-info {
  position: relative;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: 'Myriad Bold';
  font-weight: bold;
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 31px;
  padding: 14px 62px 11px 91px;
  max-width: 321px;
  outline: none;
  cursor: pointer;
}
.specialist-info::before {
  content: "";
  position: absolute;
  background-image: url("../img-order/specialist-icon.png");
  width: 35px;
  height: 35px;
  left: 35px;
}

.perfomers__container {
  max-width: 1155px;
  margin: 0 auto;
}
.perfomers__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 120px;
  line-height: 0;
  margin-bottom: 104px;
}
.perfomers__region {
  width: 100%;
  max-width: 473px;
  border-radius: 31px;
  padding: 22px 0 20px 25px;
  outline: none;
  margin-right: 25px;
  margin-bottom: 42px;
}
.perfomers__city {
  width: 100%;
  max-width: 652px;
  border-radius: 31px;
  padding: 22px 0 20px 25px;
  outline: none;
  margin-bottom: 42px;
}
.perfomers__service {
  width: 100%;
  max-width: 653px;
  border-radius: 31px;
  padding: 22px 0 20px 25px;
  outline: none;
  margin-right: 25px;
}
.perfomers__button {
  font-weight: bold;
  width: 100%;
  max-width: 472px;
  border-radius: 31px;
  padding: 22px 0 20px 25px;
  outline: none;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.perfomers__checkbox {
  margin-top: 62px;
}
.perfomers__label-1 {
  margin-right: 62px;
}

.catalog__container {
  max-width: 1170px;
  margin: 0 auto;
}
.catalog__title {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 104px;
}
.catalog__region {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  max-width: 460px;
  border-radius: 31px;
  padding: 21px 0 20px 23px;
  margin-right: 30px;
  margin-bottom: 38px;
  outline: none;
  margin-left: 20px;
}
.catalog__city {
  width: 100%;
  max-width: 652px;
  border-radius: 31px;
  padding: 21px 0 20px 23px;
  margin-bottom: 38px;
  outline: none;
}
.catalog__link {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0 22px;
}
.catalog__block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.catalog__btn {
  width: 100%;
  max-width: 459px;
  background-color: #000;
  color: #fff;
  border-radius: 31px;
  text-align: center;
  margin-right: 30px;
}
.catalog__button {
  font-weight: bold;
  width: 100%;
  max-width: 457px;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 31px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 20px 0 22px;
}

.services__container {
  max-width: 1170px;
  margin: 0 auto;
}
.services__wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
.services__column:nth-child(1) {
  width: 100%;
  max-width: 503px;
}
.services__column:nth-child(2) {
  width: 100%;
  max-width: 503px;
}
.services__popular {
  font-size: 30px;
  font-weight: bold;
  color: green;
}

.box {
  margin-top: 155px;
  background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}
.box-2 {
  margin-top: 180px;
}
.box__container {
  max-width: 1170px;
  margin: 0 auto;
}
.box__list {
  padding-top: 63px;
  padding-bottom: 74px;
  display: flex;
  justify-content: space-around;
}
.box__item {
  width: 100%;
  max-width: 250px;
}
.box__img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.box__info {
  width: 100%;
  max-width: 248px;
  padding-left: 22px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 9px;
}
.box__text {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.box__price {
  font-size: 14px;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
}
.box__price-2 {
  margin-top: -15px;
}

.footer {
  margin-top: 0px;
  background: linear-gradient(0deg, #666666 0%, black 100%);
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 55px;
}
.footer__column:nth-child(1) {
  margin-left: 40px;
}
.footer__logo {
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  line-height: 32px;
}
.footer__logo span {
  font-weight: 400;
  color: #6cb970;
}
.footer__copyright {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-top: 43px;
}
.footer__item:nth-child(1) {
  margin-top: 25px;
}
.footer__item:nth-child(2) {
  padding-top: 55px;
}
.footer__link {
  color: #fff;
}
.footer__button {
  font-family: 'Myriad Bold';
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(0deg, #b1b1b1 0%, #8d8d8d 100%);
  padding: 24px 83px 25px 76px;
  border-radius: 40px;
}
.footer__button:hover {
  box-shadow: 0px 5px 16.6px 3.4px rgba(99, 187, 106, 0.35);
}
.footer__mail {
  margin-top: 40px;
  color: #fff;
}
